@model List<Viaggio>

<body style="position:relative; height: 100%; background: black url('https://cdn.autoblog.it/EY1dUsV6Hyi0b6LACIAbhdazFfU=/1035x580/smart/https://www.autoblog.it/app/uploads/2021/06/viaggi-auto-italia-itinerari-road-trip.jpg') no-repeat ; background-size:cover; box-shadow:inset 0 -1px 5px rgba(0,0,0,0.6);">

    <main>

        <div class = "row mt-3 justify-content-center">
    <div class ="col-4 justify-content-center mb-5">
    
        <h2 class="text-center">I nostri viaggi!</h2>
    
    </div>
</div>
    <div class="row text-center justify-content-center gx-0 mt-5"> 
    @foreach (Viaggio listViaggio in Model){
   
        <div class="col-12 col-sm-3">
            <div class="card shadow mb-5 bg-body rounded" style="width: 18rem;">
                <img class="img-fluid" src="@listViaggio.Foto" class="card-img-top" alt="primaFoto">
            <div class="card-body p-0 pb-0">
                <h6 class="card-title text-uppercase bg-primary text-white ">@listViaggio.Nome</h6>
                
            </div>
            <ul class="list-group list-group-flush pb-0 mb-2">
                <a href="@Url.Action("Dettagli", "Viaggi", new { id = listViaggio.Id})" class="btn btn-primary">Visualizza!</a>
            </ul> 
            <ul class="list-group list-group-flush pb-0 mb-2">
                <a href="@Url.Action("Modifica", "Viaggi", new { id = listViaggio.Id})" class="btn btn-success">Modifica!</a>
            </ul>  
            <form action="@Url.Action("Cancella", "Viaggi", new {id= listViaggio.Id})" method="post">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-danger btn-sm">
                    Cancella!
                </button>
            </form> 
                    
            </div>
        </div>

    }  
</div>

    </main>

</body>